:root {
  --bg: #f4f4f4;
  --text: #222;
  --accent: #4f46e5;
}

body.dark {
  --bg: #121212;
  --text: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

/* Buttons */
.btn {
  display: inline-block;
  background: var(--accent);
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 15px;
  transition: 0.3s;
}

.btn:hover {
  background: #3730a3;
}

/* Toggle Button */
.toggle-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.a {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
/* Sections */
section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

/* Home */
#home {
  text-align: center;
}

#home span {
  color: var(--accent);
}

/* Skills */
.skill {
  margin: 15px 0;
}

.bar {
  background: #ddd;
  height: 10px;
  border-radius: 5px;
}

.progress {
  height: 10px;
  background: var(--accent);
  border-radius: 5px;
  width: 0;
}

/* Skill Levels */
.html { width: 90%; }
.css { width: 80%; }
.js { width: 50; }

/* Projects */
.project-card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
}

body.dark .project-card {
  background: #1e1e1e;
}

footer {
  text-align: center;
  padding: 20px;
}
